@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root{
    --background-color: #0d1323;
    --background-claro: #1d204b;
    --color-azul: #5746ea;

    --color-laranja: #ff8b64;
    --color-azul-claro: #56c2e6;
    --color-vermelho: #ff5e7d;
    --color-verde: #4bcf83;
    --color-roxo: #7434d1;
    --color-amarelo: #f1c75b;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif
}

.container {
    width: 100%;
    max-width: 80px;
    margin: 3em;
    display: flex;
}

.barra {
    background-color: var(--background-claro);
    border-radius: 10px;
}

.tracks {
    flex-grow: 1;
    margin-left: 1.5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1.5em;
}

.profile{
    background-color: var(--color-azul);
    padding: 1.5em;
    border-radius: 10px;
}

.profile img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-bottom: 2em;
}

.texto{
    font-size: .8em;
    color: #cecece;
}

.nome{
    font-size: 1.5em;
    color: #fff;
}
 
.tempo{
    padding: 1em 1.5em;
    color: rgba(255, 255, 255, 0.5);
}

.tempo p.ativar{
    color: rgba(255, 255, 255, 0.9);
    margin: .5em 0;
}

.track-item{
    background-color: #fff;
    border-radius: 10px;
    background-color: var(--background-claro);
    color: #fff;
    padding: 1em;
    position: relative;
    margin-top: 14px;
}

.track-item .nav{
    display: flex;
    justify-content: space-between;
}

.track-item .nav span:nth-child(2){
    margin-top: -.3em;
    font-weight: bolder;
}

.track-item .tempo{
    font-size: 2em;
    margin-top: .5em;
}

.track-item .anterior{
    color: rgba(255, 255, 255, 0.5);
}

.track-item::after{
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: -15px;
    left: 0;
    z-index: -1;
    border-radius: 10px;
    transition: top .3s;
}

.track-item:hover::after{
    top: -30px;
}

.track-item:nth-child(1)::after{
    background-color: var(--color-laranja);
}
.track-item:nth-child(2)::after{
    background-color: var(--color-azul-claro);
}
.track-item:nth-child(3)::after{
    background-color: var(--color-vermelho);
}
.track-item:nth-child(4)::after{
    background-color: var(--color-verde);
}
.track-item:nth-child(5)::after{
    background-color: var(--color-roxo);
}
.track-item:nth-child(6)::after{
    background-color: var(--color-amarelo);
}


@media(max-width: 680px) {
    .container{
        flex-direction: column;
    }
    .barra{
        margin-bottom: 1.5em;
    }
    .tracks{
        margin-left: 0;
    }
}