@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

html {
  font-family: "Rubik", sans-serif;

  --azul-100: hsl(236, 100%, 87%);
  --azul-200: hsl(235, 45%, 61%);
  --azul-300: hsl(195, 74%, 62%);
  --azul-500: hsl(246, 80%, 60%);
  --azul-700: hsl(236, 41%, 34%);
  --azul-800: hsl(235, 46%, 20%);
  --azul-900: hsl(226, 43%, 10%);
  --vermelho-200: hsl(15, 100%, 70%);
  --vermelho-500: hsl(348, 100%, 68%);
  --verde-limao-500: hsl(145, 58%, 55%);
  --violeta-500: hsl(264, 64%, 52%);
  --laranja-400: hsl(43, 84%, 65%);

  --font-size-h1: clamp(2.4rem, 1.8366rem + 1.5023vw, 4rem);
  --font-size-janela-tempo: 1.8rem;
  --font-size-atividade-nome: 1.8rem;
  --font-size-atividade-resultado: clamp(3.2rem, 2.3549rem + 2.2535vw, 5.6rem);
  --font-size-atividade-janela: 1.5rem;

  --z-index-top: 10;
  --z-index-mid: 5;
  --z-index-bot: 1;

  --br: 1.5rem;
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--azul-900);
  display: grid;
  place-items: center;
  padding: 8.1rem 2.4rem;
}

section.buscador-ativo {
  width: 100%;
  height: auto;
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 2.4rem;
}

@media screen and (min-width: 500px) {
  section.buscador-ativo {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: 1fr 1fr;
    min-height: 51.8rem;
    gap: 3rem;
  }
}

@media screen and (min-width: 1110px) {
  section.buscador-ativo {
    max-width: 111rem;
  }
}

section.buscador-ativo__menu {
  background: var(--azul-800);
  border-radius: var(--br);
  overflow: hidden;
  width: 100%;
}

@media screen and (min-width: 500px) {
  section.buscador-ativo__menu {
    grid-row: 1/3;
    display: flex;
    flex-flow: column nowrap;
  }
}

.buscador-ativo__perfil {
  width: 100%;
  padding: 3.1rem 2.9rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  background: var(--azul-500);
  border-radius: 0 0 var(--br) var(--br);
}

@media screen and (min-width: 500px) {
  .buscador-ativo__perfil {
    padding: 3.4rem 2.9rem 8rem 2.9rem;
    flex-flow: column nowrap;
    align-items: start;
    gap: 4.3rem;
    flex: 1 0 auto;
  }
}

.buscador-ativo__perfil-img {
  width: 6.4rem;
  border: 0.3rem solid white;
  border-radius: 50%;
}

@media screen and (min-width: 500px) {
  .buscador-ativo__perfil-img {
    width: 7.8rem;
  }
}

.buscador-ativo__perfil-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.4rem;
}

@media screen and (min-width: 500px) {
  .buscador-ativo__perfil-container {
    gap: 0.3rem;
    max-width: 60%;
  }
}

.buscador-ativo__perfil-for {
  font-size: 1.5rem;
  color: var(--azul-100);
}

.buscador-ativo__perfil-name {
  font-size: var(--font-size-h1);
  font-weight: 300;
  color: white;
}

@media screen and (min-width: 500px) {
  .buscador-ativo__perfil-name {
    line-height: 4rem;
  }
}

.buscador-ativo__opcoes {
  padding: 2.4rem 2rem 2.5rem 3.3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1rem;
}

@media screen and (min-width: 500px) {
  .buscador-ativo__opcoes {
    flex-flow: column nowrap;
    gap: 2.1rem;
    padding: 2.6rem 3.2rem 3.2rem;
  }
}

.buscador-ativo__lista {
  width: max-content;
  font-size: var(--font-size-janela-tempo);
  color: var(--azul-200);
  transition: color 250ms;
  cursor: pointer;
}

.buscador-ativo__lista:is(:hover, .active) {
  color: white;
}

.buscador-ativo__atividade {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 3.8rem 1fr;
  grid-template-columns: 1fr;
  overflow: hidden;
  border-radius: var(--br);
}

@media screen and (min-width: 500px) {
  .buscador-ativo__atividade {
    grid-template-rows: 4.5rem 1fr;
  }
}

.buscador-ativo__atividade:is(.work) {
  --background: var(--vermelho-200);
}
.buscador-ativo__atividade:is(.play) {
  --background: var(--azul-300);
}
.buscador-ativo__atividade:is(.study) {
  --background: var(--vermelho-500);
}
.buscador-ativo__atividade:is(.exercise) {
  --background: var(--verde-limao-500);
}
.buscador-ativo__atividade:is(.social) {
  --background: var(--violeta-500);
}
.buscador-ativo__atividade:is(.self-care) {
  --background: var(--laranja-400);
}

.atividade__bg {
  grid-row: 1/3;
  grid-column: 1/2;
  background: var(--background);
  display: grid;
  place-items: start end;
  height: 70%;
}

.atividade__bg > img {
  transform: translate(-2rem, -1rem);
  position: relative;
  z-index: var(--z-index-bot);
}

.atividade__info {
  position: relative;
  z-index: var(--z-index-mid);
  grid-row: 2/3;
  grid-column: 1/2;
  background: var(--azul-800);
  transition: background 250ms, transform 250ms;
  height: 100%;
  padding: 2.8rem 2.4rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.6rem;
  cursor: pointer;
}

.buscador-ativo__atividade:hover > .atividade__info {
  background: var(--azul-700);
}

@media screen and (min-width: 500px) {
  .atividade__info {
    gap: 2.4rem;
    padding: 2.9rem 3rem 3.2rem;
  }
}
.atividade__cabecalho,
.atividade__tempo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 500px) {
  .atividade__tempo {
    flex-flow: column nowrap;
    align-items: start;
    gap: 0.8rem;
  }
}

.atividade_nome {
  color: white;
  font-weight: 500;
}

.atividade__opcoes {
  transition: white 250ms;
}
.atividade__opcoes:hover > svg path {
  fill: white;
}

.atividade__tempo-atual {
  font-size: var(--font-size-atividade-resultado);
  font-weight: 300;
  color: white;
  line-height: 6.6rem;
}

.atividade__tempo-anterior {
  display: flex;
  font-size: var(--font-size-atividade-janela);
  color: var(--azul-100);
}