@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

html {
  font-family: "Rubik", sans-serif;

  --azul-100: hsl(236, 100%, 87%);
  --azul-200: hsl(235, 45%, 61%);
  --azul-300: hsl(195, 74%, 62%);
  --azul-500: hsl(246, 80%, 60%);
  --azul-700: hsl(236, 41%, 34%);
  --azul-800: hsl(235, 46%, 20%);
  --azul-900: hsl(226, 43%, 10%);
  --vermelho-200: hsl(15, 100%, 70%);
  --vermelho-500: hsl(348, 100%, 68%);
  --verde-limao-500: hsl(145, 58%, 55%);
  --violeta-500: hsl(264, 64%, 52%);
  --laranja-400: hsl(43, 84%, 65%);

  --font-size-h1: clamp(2.4rem, 1.8366rem + 1.5023vw, 4rem);
  --font-size-time-window: 1.8rem;
  --font-size-activity-name: 1.8rem;
  --font-size-activity-result: clamp(3.2rem, 2.3549rem + 2.2535vw, 5.6rem);
  --font-size-activity-window: 1.5rem;

  --z-index-top: 10;
  --z-index-mid: 5;
  --z-index-bot: 1;

  --br: 1.5rem;
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--azul-900);
  display: grid;
  place-items: center;
  padding: 8.1rem 2.4rem;
}

section .buscador-ativo {
  width: 100%;
  height: auto;
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 2.4rem;
}

@media screen and (min-width: 500px) {
  section .buscador-ativo {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: 1fr 1fr;
    min-height: 51.8rem;
    gap: 3rem;
  }
}

@media screen and (min-width: 1110px) {
  section .buscador-ativo {
    max-width: 111rem;
  }
}

section .buscador-ativo__menu {
  background: var(--azul-800);
  border-radius: var(--br);
  overflow: hidden;
  width: 100%;
}

@media screen and (min-width: 500px) {
  section .buscador-ativo__menu {
    grid-row: 1/3;
    display: flex;
    flex-flow: column nowrap;
  }
}

.buscador-ativo__dono {
  width: 100%;
  padding: 3.1rem 2.9rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  background: var(--azul-500);
  border-radius: 0 0 var(--br) var(--br);
}

@media screen and (min-width: 500px) {
  .buscador-ativo__dono {
    padding: 3.4rem 2.9rem 8rem 2.9rem;
    flex-flow: column nowrap;
    align-items: start;
    gap: 4.3rem;
    flex: 1 0 auto;
  }
}

.buscador-ativo__dono-img {
  width: 6.4rem;
  border: 0.3rem solid white;
  border-radius: 50%;
}


@media screen and (min-width: 500px) {
  .buscador-ativo__dono-img {
    width: 7.8rem;
  }
}

.buscador-ativo__dono-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.4rem;
}

@media screen and (min-width: 500px) {
  .buscador-ativo__dono-container {
    gap: 0.3rem;
    max-width: 60%;
  }
}

.buscador-ativo__dono-for {
  font-size: 1.5rem;
  color: var(--azul-100);
}

.buscador-ativo__dono-name {
  font-size: var(--font-size-h1);
  font-weight: 300;
  color: white;
}

@media screen and (min-width: 500px) {
  .buscador-ativo__dono-name {
    line-height: 4rem;
  }
}